.container_hive_detail_btn {
    /* background-color: red; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin-bottom: 40px;
}

.container_hive_detail_btn button {
    width: 100%;
}

.container_wid_hive {
    /* background-color: red; */
}

.container_wid_hive button {
    width: 100%;

    color: black;
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-size: 1rem;
    text-align: center;

    margin-top: 10px;
}

.data-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    font-family: 'Segoe UI', sans-serif;
}

.data-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.data-card li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.data-card li:last-child {
    border-bottom: none;
}

.data-card strong {
    font-weight: 600;
    color: #333;
}

.emoji_flex {
    display: flex !important;
    flex-direction: row !important;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

.emoji_label {
    font-size: 24px;
    /* taille normale */
    cursor: pointer;
    position: relative;
    user-select: none;
}

/* Cacher les inputs radios */
.emoji_label input[type="radio"] {
    display: none;
}

/* Agrandir l’emoji sélectionné */
.emoji_label.selected {
    font-size: 36px;
    transition: font-size 0.3s ease;
}

.ia_container {
    margin-bottom: 40px;
    /* padding: 0 20px; */
}