@import url('./code/global.css');
@import url('./code/navbar.css');
@import url('./code/layout.css');
@import url('./code/tuto.css');
@import url('./code/home.css');
@import url('./code/splashScreen.css');