.container_card_tuto {
    width: 100%;
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
}

.center_div_tuto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.img_tuto {
    border-radius: 1rem;
    width: 300px;
}

.italic {
    font-style: italic;
}

.ios {
    background-color: #60dbff;
}

.classic {
    background-color: antiquewhite;
}

.android {
    background-color: #7dff60;
}

.tutorial_buttons {
    /* background-color: red; */
    padding: 20px;
}

.tutorial_buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 8px;
}

.tutorial_buttons .active {
    background-color: #8884d8;
    color: white;
}