.wid_period {
    /* background-color: red; */
    padding: 0 20px 40px 20px;

    display: flex;
    justify-content: left;
    gap: 20px;
    flex-direction: column;
}

.radio_ant_ch {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}